.main-container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr;
}

.item-1 {
    padding: 0;
}

.item-2 {
    text-align: left;
}

p {
    width: 80%;
    position: relative;
}

i {
    font-size: small;
    display: block;
    margin-top: -5px;
    margin-bottom: -22px;
}

#price {
    position: absolute;
    right: 5%;
}

h3 {
    width: 80%;
    margin: 0;
    border-bottom: 1px black solid;
}

@media screen and (max-width: 600px) {
    .main-container {
        flex-direction: column-reverse;
    }
    .item-1 {
        max-height: 450px;
        z-index: -1;
    }
}